h1{
  font-size: 2.5em;
}

#header {
  background-color: #002570;
  color: white;
  border: 2px solid #999;
  padding: 10px 5px;
}

#header h1 {
  color: white;
  font-weight: bold;
  line-height: 1.5em;
}

#header * {
  vertical-align: middle;
}

#menu {
  margin: 5px 0;
  text-align: right;
  background-color: #ccc;
  line-height: 2.5em;
  border: 2px solid #999;
}

#menu ul {
  display: inline;
}

#menu ul li {
  display: inline;
  margin: 0 0 0 1.5em;
}

.bordered {
  border: 1px solid #999999;
}

.big_link{
  padding: 1em 0 1em 0;
  border: 1px solid #999999;
  margin-bottom: 0.5em;
  text-align: center;
  text-decoration: none;
}

#app_left .big_link{
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#app_search{
  padding: -1px;
}

.saved_search{
  overflow: hidden
  border: 1px solid #999999;
}

#app_left h3{
  margin-top: 1em;
  text-align: center;
}
#search_form label{
/*  text-align: right;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
*/}

#search_form {
  padding: 1em 0 0 0;
}

#search_form input[type="text"] {
  width: 100%;
  font-size: 1.2em;
  padding: 3px;
}

#search_form input[type="radio"] {
  margin-left: 2em;
}

#search_filters, #event_filters{
  margin-top: 1em;
  margin-bottom: 1em;
}

#search_filters span, #event_filters span{
  text-align: right;
  padding-top: 1em;
  padding-bottom: : 1em;
  margin-bottom: 0.5em;
  text-decoration: none;
}

#search_filters{

}

#search_map{
  height: 400px;
  width: 700px;
}

.read-more, .read-less{
  display: none;
}

.pagination{
  padding: 1em 1.5em 1em 1.5em;
  margin: 0 -1.5em 1.5em -1.5em;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}


.select_all{
  text-align: left;
}

.select-action{
  text-align: right;
}

hr {
  background:#ccc;
  color:#ccc;
}

.box{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

#search {
}

.sidebarBox {
  border: 2px solid #999;
  text-align: center;
  line-height: 2em;
  font-weight: bold;
  color: #039;
  padding: 10px 5px;
  margin: 0 0 5px 0;
}